.nav{
  flex: 1 1 auto;
}

.eg{
  background-color: #00a4ff;
}

.btnn{
  font-size: 25px;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.btn{
  display: block;
  font-weight: 400; 
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}